.containerHomeCountries{
    background-color: hsl(207, 26%, 17%);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.containerSearcAndFilter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px 0 95px;
    background-color: hsl(207, 26%, 17%);
    color: white;
    padding-top: 50px;
    
}

.containerSearcAndFilter form input{
    background-color: hsl(209, 23%, 22%);
    border: 0;
    border-radius: 7px;
    padding-left: 60px;
    height: 45px;
    width: 450px;
    box-sizing: border-box;
    color: white;
}

.containerSearcAndFilter form input::placeholder{
    color: white;
}

.subcontainerFilter{
    
    /* height: 245px; */
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 13px;
    gap: 5px;
    position: relative;
    padding: 0 30px;
}

.subcontainerFilter p{
    background-color: aqua;
    background-color: hsl(209, 23%, 22%);
    padding: 15px 0px 15px 20px;
    cursor: pointer;
    user-select: none;
    
}

.subcontainerFilter ul{
    /* display: none; */
    /* height: 200px; */
    width: 160px;
    padding: 15px 0px 15px 20px;
    background-color: red;
    background-color: hsl(208, 23%, 22%);
    position: absolute;
    top: 52px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* display: none; */
}

.subcontainerFilter ul li{
    list-style-type: none;
    cursor: pointer;
    user-select: none;
}
