.oculto{
    display: none;
}


.containerHomeCountriesDark{
    background-color: hsl(207, 26%, 17%);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.containerSearcAndFilterDark{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px 0 95px;
    background-color: hsl(207, 26%, 17%);
    color: white;
    padding-top: 50px;
    
}


/* .containerSearcAndFilterDark form input{
    background-color: hsl(207, 26%, 17%);
    border: 0;
    border-radius: 7px;
    padding-left: 60px;
    height: 45px;
    width: 450px;
    box-sizing: border-box;
    color: white;
    box-shadow: 3px 3px 20px #242424;
}

.containerSearcAndFilterDark form input::placeholder{
    color: white;
} */

.subcontainerFilterDark{
    
    /* height: 245px; */
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 13px;
    gap: 5px;
    position: relative;
    padding: 0 30px;
}

.subcontainerFilterDark div{
    background-color: aqua;
    background-color: hsl(209, 23%, 22%);
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.subcontainerFilterDark ul{
    /* display: none; */
    /* height: 200px; */
    width: 160px;
    padding: 15px 0px 15px 20px;
    background-color: red;
    background-color: hsl(208, 23%, 22%);
    position: absolute;
    top: 52px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* display: none; */
}

.subcontainerFilterDark ul li{
    list-style-type: none;
    cursor: pointer;
    user-select: none;
}

.containerSearcAndFilterDark form input::placeholder{
    color: white;
}







.containerHomeCountriesLight{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.containerSearcAndFilterLight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px 0 95px;
    background-color: hsl(0, 0%, 100%);
    color: black;
    padding-top: 50px;
    
}


/* .containerSearcAndFilterLight form input{

    border: 0;
    border-radius: 7px;
    padding-left: 60px;
    height: 45px;
    width: 450px;
    box-sizing: border-box;
    color: black;
    box-shadow: 3px 3px 20px #cacaca;
} */

.containerSearcAndFilterLight form input::placeholder{
    color: black;
}

.subcontainerFilterLight{
    
    /* height: 245px; */
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 13px;
    gap: 5px;
    position: relative;
    padding: 0 30px;
    color: black;
}

.containerSearcAndFilterLight form input::placeholder{
    color: black;
}

.subcontainerFilterLight div{

    background-color: hsl(0, 0%, 100%);
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    user-select: none;
    box-shadow: 3px 3px 20px #cacaca;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subcontainerFilterLight ul{

    width: 160px;
    padding: 15px 0px 15px 20px;

    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 52px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 3px 3px 20px #cacaca;
}

.subcontainerFilterLight ul li{
    list-style-type: none;
    cursor: pointer;
    user-select: none;
}



/* ///////////////////////////////////////////////////////////// */


@media screen and (max-width: 910px) {

    .containerHomeCountriesDark{

        padding: 60px 20px;
        gap: 75px;

    }

    .containerSearcAndFilterDark{
        padding: 0 20px 0;
        padding-top: 50px;
        
    }

    .containerHomeCountriesLight{
        padding: 60px 20px;
        gap: 75px;

    }
    
    .containerSearcAndFilterLight{
        padding: 0 20px 0;
        padding-top: 50px;
        
    }

}



