.containerGeralDark{
    width: 250px;
    height: 340px;
    background-color: hsl(209, 23%, 22%);
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
      
}

.containerGeralDark img{
    width: 250px;
    height: 140px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}



.containerGeralLight{
    width: 250px;
    height: 340px;
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
      
}

.containerGeralLight img{
    width: 250px;
    height: 140px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}








.subContainer{
    padding: 25px 0 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subContainer h4{
    margin-bottom: 15px;
    font-size: 20px;
}

.subContainer span{
    font-weight: 600;
    user-select: none;
}